<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8"/>
    <title>all users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<SCRIPT language="JavaScript">
<!--hide

var password;
var pass1="123";

password=prompt('Please enter your password to view this page!',' ');

if (password==pass1)
  alert('Password Correct! Click OK to enter!');
else
   {
	window.location="http://localhost:8087/user/error";
    }

//-->
</SCRIPT>
</head>
<body>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" th:href="@{/user/login}" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="#" th:href="@{/user/newuser}" class="w3-bar-item w3-button w3-padding-large">Register New User</a>
    <a href="#" th:href="@{/user/edituser}" class="w3-bar-item w3-button w3-padding-large w3-hide-small"  >Edit Profile</a>
    <a  href="#" th:href="@{/user/delete}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Delete My Account</a>
    <a  href="#" th:href="@{/user/allusers}"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">administration </a>
    
      <div class="w3-dropdown-content w3-bar-block w3-card-4">

</div>
</div>
</div>
<div class="container">
	<div th:if="${not #lists.isEmpty(user)}">
		<h1>All users</h1>
		<table class="highlight">
		<thead>
			<tr>
				<th>User ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Shop</th>
				<th>create date</th>
				<th>last update</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${user}">
				<td th:text= "${user.id}"></td>
				<td th:text= "${user.firstName}"></td>
				<td th:text= "${user.lastName}"></td>
				<td th:text= "${user.emailId}"></td>
				<td th:text= "${user.shopId}"></td>
				<td th:text= "${user.createdAt}"></td>
				<td th:text= "${user.updatedAt}"></td>
			
			</tr>
		</tbody>
		</table>
	</div>
</div>
</body>
</html>